@charset "UTF-8";
/* Responsive Video Classes - Como 20121117 */
.video-wrapper {
	position: relative;
}
.embed-responsive {
	display: block;
	position: relative;
    width: 100%;
	min-width: 100%;
	max-width: 100%;
}
.embed-responsive > video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	border: 0;
}
.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 75%;
}
.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
.preview-video {
	pointer-events: none;
}
.preview-modal-link {
	pointer-events: all;
}